.main {
    margin: 20px 0;
}

.content_box {
    border-radius: 20px;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.8);
    min-height: 80px;
    color: white;
}

/* ROUTING*/

.route_section{
    padding-left: 1em;
    padding-right: 2em;
}

.route_link:hover{
    opacity: .90;
    text-decoration: none;
}

.route_link_active{
    background: rgba(239, 61,89, 1);
}


/* Filter words*/

.filter_component_activ{
    text-decoration: underline;
}



/* GRADIENTS */

.gradientB_W_B{
    background: rgba(55, 69, 105, 1);
    background: -moz-linear-gradient(left, rgba(55, 69, 105, 1) 0%, rgba(109, 137, 209, 1) 50%, rgba(55, 69, 105, 1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(55, 69, 105, 1)), color-stop(50%, rgba(109, 137, 209, 1)), color-stop(100%, rgba(55, 69, 105, 1)));
    background: -webkit-linear-gradient(left, rgba(55, 69, 105, 1) 0%, rgba(109, 137, 209, 1) 50%, rgba(55, 69, 105, 1) 100%);
    background: -o-linear-gradient(left, rgba(55, 69, 105, 1) 0%, rgba(109, 137, 209, 1) 50%, rgba(55, 69, 105, 1) 100%);
    background: -ms-linear-gradient(left, rgba(55, 69, 105, 1) 0%, rgba(109, 137, 209, 1) 50%, rgba(55, 69, 105, 1) 100%);
    background: linear-gradient(to right, rgba(55, 69, 105, 1) 0%, rgba(109, 137, 209, 1) 50%, rgba(55, 69, 105, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#374569', endColorstr='#374569', GradientType=1);
}

.gradientB_B{
    background: -moz-linear-gradient(left, rgba(47, 62, 91, 1) 0%, rgba(30, 42, 61, 1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(47, 62, 91, 1)), color-stop(100%, rgba(30, 42, 61, 1)));
    background: -webkit-linear-gradient(left, rgba(47, 62, 91, 1) 0%, rgba(30, 42, 61, 1) 100%);
    background: -o-linear-gradient(left, rgba(47, 62, 91, 1) 0%, rgba(30, 42, 61, 1) 100%);
    background: -ms-linear-gradient(left, rgba(47, 62, 91, 1) 0%, rgba(30, 42, 61, 1) 100%);
    background: linear-gradient(to right, rgba(47, 62, 91, 1) 0%, rgba(30, 42, 61, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2f3e5b', endColorstr='#1e2a3d', GradientType=1);
}

/* Active link styles */
.home_active_style{
    background: var(--active_home_color);
}
.vocabulary_active_style{
    background: var(--active_vocabulary_color);
}
.repeatitorium_active_style{
    background: var(--active_repeatitorium_color);
}
.excersices_active_style{
    background: var(--active_excersices_color);
}
.statistic_active_style{
    background: var(--active_statistic_color);
}

/* Word types */
.filter_noun_style{
    color: var(--noun_color);
}
.filter_verb_style{
    color: var(--verb_color);
}
.filter_adjective_style{
    color: var(--adjective_color);
}
.filter_adverb_style{
    color: var(--adverb_color);
}
.filter_phrase_style{
    color: var(--phrase_color);
}