.main {
    margin: 20px 0;
}

.progress_bar {
    min-height: 80px;
    background: rgba(55, 69, 105, 1);
    background: -moz-linear-gradient(left, rgba(55, 69, 105, 1) 0%, rgba(109, 137, 209, 1) 50%, rgba(55, 69, 105, 1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(55, 69, 105, 1)), color-stop(50%, rgba(109, 137, 209, 1)), color-stop(100%, rgba(55, 69, 105, 1)));
    background: -webkit-linear-gradient(left, rgba(55, 69, 105, 1) 0%, rgba(109, 137, 209, 1) 50%, rgba(55, 69, 105, 1) 100%);
    background: -o-linear-gradient(left, rgba(55, 69, 105, 1) 0%, rgba(109, 137, 209, 1) 50%, rgba(55, 69, 105, 1) 100%);
    background: -ms-linear-gradient(left, rgba(55, 69, 105, 1) 0%, rgba(109, 137, 209, 1) 50%, rgba(55, 69, 105, 1) 100%);
    background: linear-gradient(to right, rgba(55, 69, 105, 1) 0%, rgba(109, 137, 209, 1) 50%, rgba(55, 69, 105, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#374569', endColorstr='#374569', GradientType=1);
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.8);
    color: white;
}

.task_table {
    color:white;
    min-height: 200px;
    background: rgba(47, 62, 91, 1);
    background: -moz-linear-gradient(left, rgba(47, 62, 91, 1) 0%, rgba(30, 42, 61, 1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(47, 62, 91, 1)), color-stop(100%, rgba(30, 42, 61, 1)));
    background: -webkit-linear-gradient(left, rgba(47, 62, 91, 1) 0%, rgba(30, 42, 61, 1) 100%);
    background: -o-linear-gradient(left, rgba(47, 62, 91, 1) 0%, rgba(30, 42, 61, 1) 100%);
    background: -ms-linear-gradient(left, rgba(47, 62, 91, 1) 0%, rgba(30, 42, 61, 1) 100%);
    background: linear-gradient(to right, rgba(47, 62, 91, 1) 0%, rgba(30, 42, 61, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2f3e5b', endColorstr='#1e2a3d', GradientType=1);
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.8);
}

.main_content {
    margin-top: 20px;
    min-height: 400px;
    background: rgba(47, 62, 91, 1);
    background: -moz-linear-gradient(left, rgba(47, 62, 91, 1) 0%, rgba(30, 42, 61, 1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(47, 62, 91, 1)), color-stop(100%, rgba(30, 42, 61, 1)));
    background: -webkit-linear-gradient(left, rgba(47, 62, 91, 1) 0%, rgba(30, 42, 61, 1) 100%);
    background: -o-linear-gradient(left, rgba(47, 62, 91, 1) 0%, rgba(30, 42, 61, 1) 100%);
    background: -ms-linear-gradient(left, rgba(47, 62, 91, 1) 0%, rgba(30, 42, 61, 1) 100%);
    background: linear-gradient(to right, rgba(47, 62, 91, 1) 0%, rgba(30, 42, 61, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2f3e5b', endColorstr='#1e2a3d', GradientType=1);
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.8);
}

.content_box {
    border-radius: 30px;
}

/* PROGRESS BAR */

.progress_bar_date {
    text-align: center;
    display: flex;
    justify-content: center;
}

.progress_bar_date_text {
    font-size: var(--content_progressBar_date_fontSize);
    margin-top: 10px;
    font-weight: var(--content_progressBar_date_weight);
}

.progress_bar_title {
    font-size: var(--content_progressBar_title_fontSize);
    margin-top: 10px;
    font-weight: var(--content_progressBar_title_weight);
}

.progress_bar_item {
    height: 24px;
    background-color: #192B39;
    border-radius: 15px;
    width: 75%;
    margin: 5px auto;
}

.progress_bar_item_completed {
    height: 100%;
    border-radius: 15px;
    width: 33%;
    background: rgba(48, 196, 112, 1);
    background: -moz-linear-gradient(left, rgba(48, 196, 112, 1) 0%, rgba(37, 166, 93, 0.5) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(48, 196, 112, 1)), color-stop(100%, rgba(37, 166, 93, 0.5)));
    background: -webkit-linear-gradient(left, rgba(48, 196, 112, 1) 0%, rgba(37, 166, 93, 0.5) 100%);
    background: -o-linear-gradient(left, rgba(48, 196, 112, 1) 0%, rgba(37, 166, 93, 0.5) 100%);
    background: -ms-linear-gradient(left, rgba(48, 196, 112, 1) 0%, rgba(37, 166, 93, 0.5) 100%);
    background: linear-gradient(to right, rgba(48, 196, 112, 1) 0%, rgba(37, 166, 93, 0.5) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#30c470', endColorstr='#25a65d', GradientType=1);
}

.progress_bar_item_percent{
    position: absolute;
    width: 75%;
    top:7px;
    font-size: var(--content_progressBar_item_percent);
}


/* TASK BAR */

.task_table_title_text{
    font-size: var(--content_progressBar_taskTable_fontSize);
    font-weight:var(--content_progressBar_taskTable_weight);
}