:root{
    /* SideBar */
    --sidebar_user_name_fontSize:16px;
    --sidebar_user_name_weight:500;

    --sidebar_section_title_fontSize:14px;
    --sidebar_section_title_weight:400;

    /* Content */
    --content_progressBar_date_fontSize:18px;
    --content_progressBar_date_weight:900;

    --content_progressBar_title_fontSize:18px;
    --content_progressBar_title_weight:600;

    --content_progressBar_item_percent:13px;

    --content_progressBar_taskTable_fontSize:18px;
    --content_progressBar_taskTable_weight:700;

    --content_progressBar_taskTable_task_fontSize:16px;
    --content_progressBar_taskTable_task_weight:400;

    --content_main_text:20px;
    --content_main_weight:700;

    --content_secondary_text:18px;
    --content_secondary_weight:500;

    --content_default_text:16px;
    --content_default_weight:500;
}